@(data: ch.insign.cms.blocks.sliderblock.SliderCollectionBlock)

@import ch.insign.cms.models.Template
@import ch.insign.cms.views.html._blockBase;
@import play.api.i18n.Messages;
@import ch.insign.cms.blocks.sliderblock.SliderEntryBlock

@slideBgUrl(slide: SliderEntryBlock) = @{
    Option(slide.getBackground)
        .filter(_.nonEmpty)
        .getOrElse(ch.insign.cms.views.html.tags._asset("frontend/img/theme/slides/slider-bg.jpg"))
}

@_blockBase(data = data, delete = true, edit = true, add = true, color = "green", name = Messages("collection.block.name"), sortableContainer = false) {
    @if(data.getSubSliderSubBlocks != null && !data.getSubSliderSubBlocks.isEmpty) {
        <div class="landing-slider-box container-fluid">
            <div class="flexslider landing-slider" @if(Template.filterPermitted(data.getSubSliderSubBlocks).size() == 1) {style="margin-bottom :20px"}>
                <ul class="slides">
                    @for(sub <- Template.filterPermitted(data.getSubSliderSubBlocks)) {
                        @defining(sub.asInstanceOf[SliderEntryBlock]) { slider =>
                            <li style="background: url('@slideBgUrl(slider)') repeat center ; width: @Option(data.getBackgroundWidth).filter(_!=0).getOrElse("1140")px; height: @Option(data.getBackgroundHeight).filter(_!=0).getOrElse("455")px;">
                                <div class="slider-overlay">
                                    <div class="row">
                                        @slider.render
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }
}
