@(
	data: ch.insign.cms.models.AbstractBlock,
	add: Boolean=false,
	edit: Boolean=true,
	delete: Boolean=true,
    restrict: Boolean=false,
	name: String="",
	color: String="gray",
    sortableContainer: Boolean=false,
    CssClass: String="" )(content: Html)

@import ch.insign.cms.controllers.CmsContext
@import ch.insign.cms.controllers.routes._
@import ch.insign.cms.models.Template
@import ch.insign.commons.i18n.Language
@import ch.insign.cms.blocks.horizontalcollection.HorizontalCollectionBlock
@import ch.insign.cms.models.ContentBlock
@import ch.insign.cms.controllers
@import play.api.i18n.Messages
@import helper.form


@* adds debig info in debug mode *@
@withDebugInfo(content: Html) = {
    @if(Template.isDebugMode()) {
        <div style="border: 1px solid @color" class="debug">
            <i>@data.getClass.getSimpleName (@Template.getCallerName)</i>
            @content
        </div>
    } else {
        @content
    }
}

@* adds edit bars if user can modify content *@
@withEditBars(content: Html) = {
    @if(data.canModify()) {
        <div>
            <!-- Start edit bar -->
            <div class="panel panel-primary editbar portlet-header" style="position: relative; display: block;" id="editbar-@data.getId">
                <ul class="list-inline clearfix">

                    @*
                        TODO: Add block information like author, last mod etc. - shown as popover over the block name
                        Use: <li class="pull-left block-title" data-toggle="popover" data-placement="right" data-html="true" data-trigger="hover" data-delay="800" data-content="<p><b>Erstellungsdatum</b><br>10.06.2014 - 09:16h<br>(Hans Müller)</p><p><b>Letzte Bearbeitung</b><br>10.06.2014 - 16:08h<br>(Thomas Muster)</p>">@Template.blockDisplayName(data.getClass)</li>
                    *@
                    <li class="pull-left block-title">@Template.blockDisplayName(data.getClass)</li>

                    @if(delete) {
                        <li class="pull-right" title="@Messages("block.option.button.delete")">
                        @form(ch.insign.cms.controllers.routes.BlockController.delete(data.getId, request.path), 'id -> ("delete-block-form-" + data.getId)) {
                            <button class="deleteBlock" id="deleteBlock" data-deleted-block-name="@Template.blockDisplayName(data.getClass)"><span class="glyphicon glyphicon-trash"></span></button>
                        }
                        </li>
                    }

                    @if(restrict) {
                        <li class="pull-right" title="@if(Template.hasAccessRestriction(data)) { @Messages("inline.block.unrestrict.title") } else { @Messages("inline.block.restrict.title") }">
                            <button data-toggle="modal"
                                    data-target="@if(Template.hasAccessRestriction(data)) { #confirm-unrestrict-block } else { #confirm-restrict-block }"
                                    data-action-url="@BlockController.toggleReadRestriction(data.getId, request.path)"
                                    data-block-name="@Template.blockDisplayName(data.getClass)">
                                <span class="glyphicon glyphicon-lock"></span>
                            </button>
                        </li>
                    }

                    @if(edit) {
                        <li class="pull-right" title="@Messages("block.option.button.edit")">
                            <a href="@controllers.routes.BlockController.edit(data.getId, request.uri, Language.getCurrentLanguage)" id="editBlock"><span class="glyphicon glyphicon-edit"></span></a>
                        </li>
                    }

                    @if(add && !data.getAllowedSubBlocks.isEmpty) {
                        <li class="pull-right" title="@Messages("block.option.button.add")">
                            <button type="button" id="addBlock" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span></button>
                            <ul class="dropdown-menu" role="menu">
                            @for(blockClass <- data.getAllowedSubBlocks){
                                <li>
                                    @* If you want to add immediately a new instance:
                                    @form(controllers.routes.BlockController.addToParent(blockClass.getCanonicalName, data.getId, "", request.path)) {
                                    <button type="submit">@blockClass.getSimpleName</button>
                                    } *@
                                <a href="@controllers.routes.BlockController.create(blockClass.getCanonicalName, data.getId, request.path)" id="createBlock">@Template.blockDisplayName(blockClass)</a>
                                </li>
                            }
                            </ul>
                        </li>
                    }

                    @Template.hasTimeRestriction(data) match {
                        case Template.TR.PAST => {<li class="pull-right block-info state-inactive" title="@Messages("block.option.time.past")"><i class="glyphicon glyphicon-time"></i></li>}
                        case Template.TR.PRESENT => {<li class="pull-right block-info state-active" title="@Messages("block.option.time.present")"><i class="glyphicon glyphicon-time"></i></li>}
                        case Template.TR.FUTURE => {<li class="pull-right block-info state-future" title="@Messages("block.option.time.future")"><i class="glyphicon glyphicon-time"></i></li>}
                        case Template.TR.NONE => {}
                    }
                    @if(!Template.isVisible(data) || Template.hasAccessRestriction(data)) {
                        <li class="pull-right block-info state-restricted" title="@Messages("block.option.access.restricted")"><i class="glyphicon glyphicon-eye-close"></i></li> @* TODO @ Sam *@
                    }

                </ul>
            </div>
            <!-- End edit bar -->

            <div @if(sortableContainer){
                class="sortContainer clearfix @if(data.isInstanceOf[HorizontalCollectionBlock]){ horizontal-collection }"
                data-block_id="@data.getId()"
            } else { class="portlet-content" } >
                @content
            </div>

        </div>
    } else {
        @content
    }
}


@withDebugInfo {
    @if(data.canRead()) {
        <div
            class="@CssClass @if(CssClass == ""){ row-block } @if(data.canModify()){ portlet } @Template.addColWidthClass(data)"
            @if(data.canModify()) {
                data-block_id="@data.getId()"
                @if(data.isInstanceOf[ContentBlock]) { data-col-width="@{data.asInstanceOf[ContentBlock].getColWidthCssClass}"}
            }
        >
            @withEditBars { @content }
        </div>
    }
}
