@(data: ch.insign.cms.models.PageBlock)
@import ch.insign.cms.models.ContentBlock
@import ch.insign.cms.models.PageBlock
@import ch.insign.cms.models.Template
@import ch.insign.cms.models.CollectionBlock
@import ch.insign.cms.views.html._blockBase;
@main(data){

<h1>@data.getPageTitle</h1>
<section class="container main-content">

    <div class="col-md-2" id="sidebar" role="navigation">
        <div class="well sidebar-nav">
        @_navigationByKey(
            key = PageBlock.KEY_FRONTEND,
            active = data
        )
        </div>
    </div>

    <div class="col-md-6">
        <div class="box">
        @Template.addBlockToSlot(classOf[CollectionBlock], data, "main").render()
        </div>
    </div>

    <div class="col-md-4">
        <div class="box">
        @Template.addBlockToSlot(classOf[CollectionBlock], data, "sidebar").render()
        </div>
    </div>

</section>

    <hr>

    <footer class="container footer">
        @Template.addBlockByKey(classOf[ContentBlock], "GlobalFooter").render()
    </footer>
}
