@(
    data: ch.insign.cms.blocks.searchresultblock.SearchResultBlock,
    query: String,
    results: List[ch.insign.commons.search.SearchResult])

@import play.mvc.Controller
@import ch.insign.commons.search._
@import ch.insign.cms.views.html._
@import ch.insign.cms.models._
@import play.api.i18n.Messages;

@contentBlockForSearchBlock(data = data){

    <p>
    @if(Template.nonEmpty(query)){
        @Messages("searchresult.searchfor", query, String.valueOf(results.size))
    }else{
        @Messages("searchresult.noquery")
    }
    </p>
    <ol>
    @for(result <- results){
        <li>
            <a href="@result.getUrl">@Template.nonEmpty(result.getTitle, result.getUrl)</a>
            <br />@Template.html(result.getSnippet)
        </li>
    }
    </ol>
}
