@(root: ch.insign.cms.models.AbstractBlock)
@import ch.insign.cms.models.AbstractBlock
@import ch.insign.cms.models.AbstractBlock.BlockType
@import ch.insign.cms.models.PageBlock
@import ch.insign.cms.utils.Error

@* Set context to 'backend' for any backend entries *@
@if(AbstractBlock.CONTEXT_BACKEND.equals(root.getContext) || PageBlock.KEY_BACKEND.equals(root.getKey)) {
    @root.setContext(AbstractBlock.CONTEXT_BACKEND)
}else{
    @root.setContext(AbstractBlock.CONTEXT_FRONTEND)
}

@if(root.getType.equals(BlockType.PAGE)) {
    @navigationOverviewTree_page(root.asInstanceOf[PageBlock])
}
@* Checks only for the blocks that are a PageBlock, others won't be shown anyway *@
@* Add more subtype blocks for collections, blocks, if needed *@
@if(root.getSubBlocks.exists(_.isInstanceOf[PageBlock])) {
    <ol class="dd-list">
    @for(subBlock <-root.getSubBlocks) {
        @* Note: If the tree should ever contain non-pageBlock entries, remove the 'if' *@
        @if(subBlock.isInstanceOf[PageBlock]) {
            @subBlock.setContext(root.getContext)
            @_navigationOverviewTree(subBlock)
        }
        </li>
    }
    </ol>

}
</li>
