@(task: ch.insign.commons.util.Task)

@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.html.admin.reviewButtonPartial
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.helpers.dateTimeSwiss
@import java.util.Date
@import java.time.Instant
@import ch.insign.commons.util.Task
@import ch.insign.cms.views.html.helpers._
@import views.html.metronic.textarea
@import ch.insign.cms.controllers

    @icon(name: String, args: (Symbol, Any)*) = {
        @defining((args.toMap,"icon-" + name)) { case (args, name) =>
            <i @toHtmlArgs(args.get('class).map(v=> args + ('class -> (name + " " + v))).getOrElse(args + ('class -> name)))></i>
        }
    }

		@* Common section - factor out? *@

	@formatVisibleDate(instant: Instant) ={
		@if(instant != null) {
			@dateTimeSwiss(Date.from(instant))
		} else {
			-
		}
	}

	@problemsRow(task: Task) = {
		@if(task.hasWarnings) {
			<span class="label label-warning">Warnings</span>
		}
		@if(task.hasErrors) {
			<span class="label label-danger">Errors</span>
		}
	}

	@statusRow(task: Task) = {
		@if(task.isFinished) {
			@if(task.isSuccess){
				<span class="label label-success">Completed</span>
			}else{
				<span class="label label-danger">Failed</span>
			}
		} else {
			<span class="label label-warning">Queued</span>
		}
	}

    @footer() = {
        <script type="text/javascript" src="@{ch.insign.cms.views.html.tags._asset("backend/js/task.js")}"></script>
    }

@* End of common section *@

    @defining(new AdminContext) { ctx =>
        @layout(ctx, "", "", null, footer) {
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        @icon("list") @Messages("tasks.titleDetailView")
                    </div>
                </div>
                <div class="portlet-body form">
                      <form class="form-horizontal" role="form">
                        <div class="form-body">
                            <h3 class="form-section">@task.getTag</h3>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
	                                            <th>@Messages("tasks.head.status")</th>
                                                <th>@Messages("tasks.head.created")</th>
                                                <th>@Messages("tasks.head.firstTry")</th>
                                                <th>@Messages("tasks.head.lastTry")</th>
                                                <th>@Messages("tasks.head.tries")</th>
                                                <th>@Messages("tasks.head.retryWaitPeriod")</th>
                                                <th>@Messages("tasks.head.scheduleAfter")</th>
	                                            <th>@Messages("tasks.head.priority")</th>
                                                <th>@Messages("tasks.head.problems")</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
	                                            <td>@statusRow(task)</td>
	                                            <td>@formatVisibleDate(task.getCreated)</td>
                                                <td>@formatVisibleDate(task.getFirstTry)</td>
                                                <td>@formatVisibleDate(task.getLastTry)</td>
                                                <td>@task.getTries / @task.getMaxTries</td>
                                                <td>@task.getRetryWaitPeriod</td>
                                                <td>
                                                    @if(!task.isFinished) {
                                                        @formatVisibleDate(task.getScheduleAfter)
                                                    } else {
                                                        -
                                                    }
                                                </td>
	                                            <td>@task.getPriority</td>
                                                <td>@problemsRow(task)</td>
                                            </tr>
                                        </tbody>
                                     </table>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h4 class="form-section">@Messages("tasks.review.title")</h4>

                            <div class="alert alert-success" id="task_updated_flash" style="display: none;">@Messages("task.flash.updated")</div>

                            <form class="form-horizontal form-bordered" role="form" method="post" id="save_task_form" action="@controllers.routes.TaskController.saveNote(task.getId)">
                                <div class="form-body">

                                    <div class="form-group ">
                                        <label class="col-md-3 control-label">Review status</label>
                                        <div class="col-md-9">
                                            <span id="review_status_button"> @reviewButtonPartial(task) </span>
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <label class="col-md-3 control-label">@Messages("tasks.button.retry_now")</label>
                                        <div class="col-md-9">
                                            <button class="btn btn-success" data-toggle="modal" data-target="#retry_modal">
                                                <i class="fa fa-repeat"></i>
                                                @Messages("tasks.button.retry_now")
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <label for="task_note" class="col-md-3 control-label">@Messages("tasks.note.label")</label>
                                        <div class="col-md-9">
                                            <textarea id="task_note" name="note" class="form-control" style="height: 300px;">@task.getNote</textarea>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group last">
                                        <label class="control-label col-md-3"></label>
                                        <div class="col-md-3">
                                            <button type="submit" id="save_note" class="btn btn-success"  >
                                                @Messages("btn.save")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <form class="form-horizontal" role="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    @task.reportTemplatePartial()
                                </div>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" role="form">
                        <div class="form-body">
                            <h4 class="form-section">@Messages("tasks.log.title.subline")</h4>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                @if(task.getLog != null && !task.getLog.isEmpty){
                                   <pre>@task.getLog</pre>
                                } else {
                                    <div class="alert alert-info">@Messages("tasks.no_results")</div>
                                }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="modal fade" id="retry_modal" tabindex="-1" role="dialog" aria-labelledby="retry_modal-label" aria-hidden="true">
                <form action="@controllers.routes.TaskController.executeTask(task.getId)" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="retry_modal-label">@Messages("tasks.execute_now.modal_title")</h4>
                    </div>
                    <div class="modal-body">
                        @if(task.isFinished && task.isSuccess){
                            <div class="alert alert-warning">@Messages("tasks.execute_now.warning")</div>
                        }
                        @Messages("tasks.execute_now.modal_content")
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("modal.cancel.btn")</button>
                        <button class="btn btn-primary">@Messages("tasks.button.retry_now")</button>
                    </div>
                </form>
            </div>
        }
    }

