@(theForm: Form[_], formKey: String, label: String, placeholder: String, nameFunc: (String) => String , dateFormat: String = "YYYY-MM-DD HH:mm", helperText: String = null)

@import metronic._

@helper.input(
    theForm(formKey),
    'id -> formKey,
    'name -> formKey,
    'class -> "form-control datepicker",
    '_label -> label,
    'placeholder -> placeholder
) { (id, name, value, args) =>

    @*
    TODO: Make sure, assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js is loaded and FormComponents.init(); is called whenever the datetimepicker is used
     *@

    <div id="datetimepicker_@nameFunc(name)" class="input-group date form_datetime">
       <input name="@nameFunc(name)" type="text" value="@value" placeholder="@label" size="16" class="form-control" data-format="@dateFormat">
       <span class="input-group-btn">
          <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
       </span>
       <span class="input-group-btn">
          <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
       </span>
    </div>

    @if(Option(helperText).nonEmpty) {
        <span class="help-block">@Html(helperText)</span>
    }

    @*
    Old implementation for reference:
    <div id="datetimepicker_@nameFunc(name)" class="input-append date datepicker">
        <input name="@nameFunc(name)" type="text" value="@value" data-format="dd.MM.yyyy hh:mm:ss" @toHtmlArgs(args)  style="width: 50%; float: left;"/>
        <span class="add-on" style="float: left;">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
        </span>
    </div>
    *@

    @*<input name="@nameFunc(name)" type="text" value="@value" @toHtmlArgs(args) data-date-format="yyyy-mm-dd" />*@
}