@import com.codahale.metrics.Timer
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.admin.utils.AdminContext
@import java.util.concurrent.TimeUnit
@import play.api.i18n.Messages
@import ch.insign.cms.views.html.helpers.dateTimeSwiss

@import ch.insign.cms.controllers.MetricsController
@(
        timers: Map[String, Timer],
        durationUnit: TimeUnit,
        rateUnit: TimeUnit
)

@durationFactor() = @{
    1.0 / durationUnit.toNanos(1)
}

@rateFactor() = @{
    rateUnit.toSeconds(1)
}

@numberFormat(number: AnyVal, format: String = "%.2f") = @{
    format.format(number)
}

@timeUnitToString(timeUnit: TimeUnit) = @{
    timeUnit match {
        case TimeUnit.NANOSECONDS => "ns"
        case TimeUnit.MICROSECONDS => "mcs"
        case TimeUnit.MILLISECONDS => "ms"
        case TimeUnit.SECONDS => "s"
        case TimeUnit.MINUTES => "min"
        case TimeUnit.HOURS => "h"
        case TimeUnit.DAYS => "d"
    }
}

@showTime(number: AnyVal) = {
    <span title="@number">@numberFormat(number)@timeUnitToString(durationUnit)</span>
}

@showRate(number: AnyVal) = {
    <span title="@number">@numberFormat(number) calls/@timeUnitToString(rateUnit)</span>
}

@icon(name: String, args: (Symbol, Any)*) = {
    @defining((args.toMap,"fa fa-" + name)) { case (args, name) =>
        <i @toHtmlArgs(args.get('class).map(v=> args + ('class -> (name + " " + v))).getOrElse(args + ('class -> name)))></i>
    }
}

@footer() = {
    <script>
        $(document).ready(function() {
            $("#metrics").dataTable({
                "iDisplayLength": 25,
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "All"] // change per page values here
                ]
            });
        });
    </script>
}

@defining(new AdminContext) { ctx =>
  @layout(ctx, pageFooter = footer) {
      <div class="portlet">
          <div class="portlet-title">
              <div class="caption">
                  @icon("list") @Messages("performance.page.title")
              </div>
          </div>
          <div class="portlet-body">
              <div>
                  <p>@Messages("performance.page.info.text", dateTimeSwiss(MetricsController.getLaunched))</p>
                  <p>@Html(Messages("performance.page.metrics.info.text"))</p>
              </div>
              <table id="metrics" class="table table-striped table-bordered table-hover" style="table-layout:fixed">
                  <thead>
                      <tr>
                          <th style="width:20%">@Messages("metrics.label.key")</th>
                          <th>@Messages("metrics.label.count")</th>
                          <th>@Messages("metrics.label.time.max")</th>
                          <th>@Messages("metrics.label.time.mean")</th>
                          <th>@Messages("metrics.label.time.min")</th>
                          <th>@Messages("metrics.label.percentage.95")</th>
                          <th>@Messages("metrics.label.rate.15")</th>
                          <th>@Messages("metrics.label.rate.1")</th>
                      </tr>
                  </thead>
                  <tbody>
                  @timers.map { case(key, timer) =>
                    <tr>
                        <td style="word-wrap:break-word"><span title="@key">@key</span></td>
                        <td>@timer.getCount</td>

                        @Option(timer.getSnapshot).filter(sn => sn != null).map { snapshot =>
                            <td>@showTime(snapshot.getMax * durationFactor * 1.0)</td>
                            <td>@showTime(snapshot.getMean * durationFactor * 1.0)</td>
                            <td>@showTime(snapshot.getMin * durationFactor * 1.0)</td>
                            <td>@showTime(snapshot.get95thPercentile * durationFactor * 1.0)</td>
                        }.getOrElse {
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        }
                        <td>@showRate(timer.getFifteenMinuteRate * rateFactor)</td>
                        <td>@showRate(timer.getOneMinuteRate * rateFactor)</td>
                    </tr>
                  }
                  </tbody>
              </table>
          </div>
      </div>
  }
}
