@(
        a: ch.insign.cms.views.admin.utils.AdminContext,
        user: ch.insign.playauth.party.support.DefaultParty,
        extraMenuItems: Html=Html.apply(""))(content: Html)

@import helper.{options, inputPassword}
@import views.html.metronic._
@import helper._
@import ch.insign.cms.views.html.admin.shared.layout
@import play.api.i18n.Messages;
@import ch.insign.cms.views.html.helpers._
@import ch.insign.playauth.party.support.DefaultPartyRole
@import ch.insign.playauth.permissions._
@import ch.insign.playauth.views.helper.{hasPermission, hasAnyPermission, lacksPermission,lacksAnyPermission}
@import ch.insign.cms.models.CMS


@layout(a, "", "", null, null) {

    <div class="row profile">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-user"></i>@Messages("backend.user.edit.title"): @user.getName</div>
                    <div class="actions">
                        <a href="@CMS.getRouteResolver.listParties()" class="btn default">
                            <i class="fa fa-times"></i> @Messages("modal.btn.close")
                        </a>
                    </div>
                </div>
                <div class="portlet-body flip-scroll">

                    <div class="tabbable tabbable-full-width">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tabbed-user-edit" data-toggle="tab">@Messages("backend.user.profile")</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tabbed-user-edit">
                                <div class="row profile-account">
                                    <div class="col-md-3">
                                        <ul class="ver-inline-menu tabbable margin-bottom-10">
                                            <li @if( request.path.equals(ch.insign.cms.controllers.routes.PartyController.showProfile(user.getId).toString()) ){ class="active" }>
                                                <a href="@ch.insign.cms.controllers.routes.PartyController.showProfile(user.getId)">
                                                    <i class="fa fa-info"></i>
                                                    @Messages("backend.user.profile")
                                                </a>
                                                <span class="after"></span>
                                            </li>

                                            <li @if( request.path.equals(CMS.getRouteResolver.editParty(user.getId).toString()) ){ class="active" }>
                                                <a href="@CMS.getRouteResolver.editParty(user.getId)">
                                                    <i class="fa fa-cog"></i>
                                                    @Messages("backend.user.edit")
                                                </a>
                                                <span class="after"></span>
                                            </li>

                                            <li  @if( request.path.equals(CMS.getRouteResolver.changePassword(user.getId).toString()) ){ class="active" }>
                                                <a href="@CMS.getRouteResolver.changePassword(user.getId)">
                                                    <i class="fa fa-lock"></i>
                                                    @Messages("backend.user.password.change")
                                                </a>
                                            </li>

                                            <li @if( request.path.equals(CMS.getRouteResolver.listRole(user.getId).toString()) ){ class="active"}>
                                                <a href="@CMS.getRouteResolver.listRole(user.getId)">
                                                    <i class="fa fa-group"></i>
                                                    @Messages("backend.user.roles")
                                                </a>
                                            </li>

                                            @extraMenuItems

                                        </ul>
                                    </div>

                                    <div class="col-md-9">
                                        <div class="tab-content">
                                            @content
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
