@import ch.insign.cms.attributeset.model.Attribute
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.html.helpers.{formKey, mstring}
@import ch.insign.cms.views.html.mstringFormFrontend
@import ch.insign.cms.attributeset.controller.routes.AttributeController
@import ch.insign.commons.db.MString

@(form: Form[_], attribute: Attribute)

@layout(new AdminContext()) {
    @defining(form.field("id").valueOr(null)) { id =>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list"></i>
                    @{
                        if(id == null) Messages("attributes.add.title")
                        else Messages("attributes.edit.title").replace("{0}", attribute.getName.get)
                    }
                </div>
            </div>
            <div class="portlet-body">
                @mstringFormFrontend(
                    if(id == null) AttributeController.doAdd(attribute.getClass.getName)
                    else AttributeController.doEdit(id),
                    'class -> "form-horizontal"){
                    <fieldset>
                        @formKey("key,name,id")
                        @if(id != null){
                            <input type="hidden" value="@id" name="id">
                        }
                        <div class="form-body">

                            @metronic.text(
                                form,
                                "key",
                                Messages("attribute.field.key"),
                                Messages("attribute.placeholder.key")
                            )

                            @mstring(new MString, form,
                                "name",
                                Messages("attribute.field.name"),
                                Messages("attribute.placeholder.name")
                            )

                            @attribute.editAttributeForm(form)
                        </div>
                    </fieldset>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="submit" class="btn red" id="attributeFormSubmit">@Messages("backend.btn.save")</button>
                            <a href="@AttributeController.index()" class="btn default">@Messages("backend.btn.cancel")</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}