@import ch.insign.cms.attributeset.model.OptionAttribute
@import ch.insign.cms.attributeset.model.OptionValue
@import metronic._

@(form: Form[_], attr: OptionAttribute, setValue: OptionValue)

@helper.input(
    form("attributes_placeholder"),
    'id -> s"""setInstance${attr.getKey}""",
    'name -> s"""setInstance.${attr.getKey}.value[]""",
    'class -> "form-control selectpicker",
    '_label -> attr.getName.get,
    'placeholder -> attr.getName.get
) { (id, name, value, args) =>
    <select @if(!attr.isSingleSelect){multiple="multiple"} name="@name" id="@id" @toHtmlArgs(args)>
        @if(attr.getMultiplicity == 1){
            <option value="">@Messages("option.no.value.selected")</option>
        }
        @_optionSelect(attr.getOptions, setValue.getValue, 0)
    </select>
}

@if(attr.getMultiplicity > 1){
    @util.Javascript.add{
        <script>
            $("#setInstance@{attr.getKey}").on('changed.bs.select', function(event, clickedIndex, newValue){
                var arr = $(this).selectpicker("val");
                var id = $("option:nth-child("+(clickedIndex+1)+")", $(this)).attr("value");
                if (newValue == true && arr.length > @attr.getMultiplicity) {
                    arr = arr.filter(function(val){
                        return val != id;
                    });
                    $(this).selectpicker("val", arr);
                    alert('@Messages("option.error.multiplicity").replace("{0}", attr.getMultiplicity.toString)');
                }
            });
        </script>
    }
}