@import ch.insign.commons.db.Paginate
@import ch.insign.cms.blocks.reviewblock.models.ReviewSubmission
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.html.admin.utils.messages
@import ch.insign.cms.views.html.admin.utils.pagination
@import ch.insign.cms.blocks.reviewblock.controllers.routes
@import ch.insign.commons.date.DateHelper

@(pages: Paginate[ReviewSubmission], page: Int, term: String)

@defining(new AdminContext) { ctx =>
	@layout(ctx, Messages("backend.block.review.list.title"), null, null) {
		<div class="row">
			<div class="col-md-12">
				<div class="portlet">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-user"></i>&nbsp;@Messages("backend.block.review.list.title")
						</div>
					</div>
					<div class="portlet-body">
						@helper.form(action = routes.ReviewBackendController.list(), 'class -> "form-inline", 'role -> "form") {
							<div class="row">
								<div class="col-md-6 col-sm-12">
									<div class="input-group">
										<input id="term" type="text" name="term" value="@term" class="form-control" placeholder="@Messages("backend.block.review.filter.placeholder")" />
										<span class="input-group-btn">
											<button type="submit" class="btn btn-primary">
												<i class="fa fa-search"></i>
											</button>
										</span>
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<div class="pull-right">
										<label>
											<!-- Page length dropdown -->
											<select id="selectRowValue" name="selectRowValue" size="1" class="form-control input-small">
												@for(selectedValue <- pages.getShortItemsPerPageList) {
													<option
														@if(selectedValue == pages.getItemsPerPage || pages.getTotalItemCount == pages.getItemsPerPage) {
															selected="selected"
														} value="@selectedValue">
														@selectedValue
													</option>
												}
											</select>
										</label>
									</div>
								</div>
							</div>
						}

						@pagination(page, pages.getPage(page), routes.ReviewBackendController.list(term, _, pages.getItemsPerPage))

						<table class="table table-striped table-bordered table-hover table-advance" id="review_submissions_list">
							<thead>
								<tr>
									<th>@Messages("backend.block.review.list.header.status")</th>
									<th>@Messages("backend.block.review.list.header.date")</th>
									<th>@Messages("backend.block.review.list.header.product")</th>
									<th>@Messages("backend.block.review.list.header.user")</th>
									<th>@Messages("backend.block.review.list.header.rating")</th>
									<th>@Messages("backend.block.review.list.header.title")</th>
									<th>@Messages("backend.block.review.list.header.actions")</th>
								</tr>
							</thead>
							<tbody role="alert" aria-live="polite" aria-relevant="all">
								@if(pages.getPage(page).getList.nonEmpty) {
									@for(submission <- pages.getPage(page).getList) {
										<tr>
											<td>
												@if(submission.isApproved) {
													<span class="label label-success">@Messages("backend.block.review.status.approved")</span>
												} else {
													<span class="label label-warning">@Messages("backend.block.review.status.new")</span>
												}
											</td>
											<td>@DateHelper.dateTimeFormatSwiss(submission.getCreatedOn)</td>
											<td>@submission.getReview.getTargetId</td>
											<td>@submission.getEmail</td>
											<td>@submission.getRating</td>
											<td>@submission.getReview.getTargetTitle</td>
											<td>
												@if(!submission.isApproved) {
													<span>
														<a title="@Messages("backend.block.review.list.action.approve")"
														href="@ch.insign.cms.blocks.reviewblock.controllers.routes.ReviewBackendController.approve(submission.getId)">
															<i class="fa fa-check"></i>
														</a>
													</span>
												}
												<span>
													<a title="@Messages("backend.block.review.list.action.delete")"
													href="@ch.insign.cms.blocks.reviewblock.controllers.routes.ReviewBackendController.delete(submission.getId)">
														<i class="fa fa-trash"></i>
													</a>
												</span>
												<span>
													<a title="@Messages("backend.block.review.list.action.reply")"
													href="@ch.insign.cms.blocks.reviewblock.controllers.routes.ReviewBackendController.reply(submission.getId)">
														<i class="fa fa-comment"></i>
													</a>
												</span>
											</td>
										</tr>
									}
								} else {
									<tr>
										<td colspan="9" class="text-muted text-center">
											<br><i class="icon-search text-muted"></i> &nbsp; @Messages("backend.navigation.search.no_results")<br><br>
										</td>
									</tr>
								}
							</tbody>
						</table>

						@pagination(page, pages.getPage(page), routes.ReviewBackendController.list(term, _, pages.getItemsPerPage))

					</div>
				</div>
			</div>
		</div>
	}
}

<script src="@{ch.insign.cms.controllers.routes.ApplicationController.javascriptRoutes()}" type="text/javascript"></script>
<script src="@{ch.insign.cms.views.html.tags._asset("backend/js/reviewSubmissions.js")}" type="text/javascript"></script>
