@import ch.insign.cms.blocks.reviewblock.models.ReviewSubmission
@import ch.insign.cms.permissions.ReviewPermission
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.helpers.formKey
@import ch.insign.playauth.views.helper._
@import helper.form
@import metronic.textarea
@import play.data.Form
@import ch.insign.commons.date.DateHelper

@(id: String, reviewForm: Form[ch.insign.cms.blocks.reviewblock.models.ReviewSubmission], submission: ReviewSubmission)

@layout(new AdminContext(), "", "", null, null) {
	<div class="row">
		<div class="col-md-12">
			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-edit"></i>@Messages("backend.block.review.reply.title")
					</div>
				</div>
				<div class="portlet-body">
					@form(ch.insign.cms.blocks.reviewblock.controllers.routes.ReviewBackendController.doReply(id), 'class -> "form-horizontal form-bordered", 'id -> "frm-reply-review") {
						<div>
							<div class="form-group">
								<label class="col-md-3 control-label">@Messages("backend.block.review.reply.title.label")</label>
								<div class="col-md-9">
									<div class="input-group">@submission.getReview.getTitle</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">@Messages("backend.block.review.reply.date.label")</label>
								<div class="col-md-9">
									<div class="input-group">@DateHelper.dateTimeFormatSwiss(submission.getCreatedOn)</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">@Messages("backend.block.review.reply.email.label")</label>
								<div class="col-md-9">
									<div class="input-group">@submission.getEmail</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">@Messages("backend.block.review.reply.rating.label")</label>
								<div class="col-md-9">
									<div class="input-group">@submission.getRating / 5</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">@Messages("backend.block.review.reply.content.label")</label>
								<div class="col-md-9">
									<div class="input-group">@submission.getAnswer</div>
								</div>
							</div>
						</div>

						<hr />

						<div>
							<fieldset @lacksPermission(ReviewPermission.REPLY) { disabled="disabled" }>
								@formKey("authz-*")

								<input type="hidden" name="id" value="@id"/>

								<div class="form-group">
									@textarea(
										reviewForm,
										"adminAnswer",
										Messages("backend.block.review.reply.adminAnswer"),
										Messages("backend.block.review.reply.adminAnswer"),
										(a: String) => a,
										"tinymce-simple"
									)
								</div>
							</fieldset>

							<div class="form-actions fluid">
								<div class="col-md-offset-3 col-md-8">
									<button type="submit" @lacksPermission(ReviewPermission.REPLY) { disabled="disabled" }  class="btn red">@Messages("btn.save")</button>
									<a href="@ch.insign.cms.blocks.reviewblock.controllers.routes.ReviewBackendController.list()" class="btn default">@Messages("backend.btn.cancel")</a>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
}
